dist
venv
speakers
output
test
models
xtts_api_server/models
*.pyc
xtts_api_server/RealtimeTTS/engines/coqui_engine_old.py
xtts_models
latent_speaker_folder/femaledarkelf/voiceline_80.json
latent_speaker_folder/femaledarkelf/voiceline_81.json
latent_speaker_folder/femaledarkelf/voiceline_86.json
latent_speaker_folder/femaledarkelf/voiceline_122.json
latent_speaker_folder/femaledarkelf/voiceline_123.json
latent_speaker_folder/femaledarkelf/voiceline_144.json
latent_speaker_folder/femaledarkelf/voiceline_231.json
latent_speaker_folder/femaledarkelf/voiceline_346.json
latent_speaker_folder/femaledarkelf/voiceline_420.json
latent_speaker_folder/femaledarkelf/voiceline_460.json
latent_speaker_folder/femaledarkelf/voiceline_463.json
latent_speaker_folder/femaledarkelf/voiceline_620.json
latent_speaker_folder/femaledarkelf/voiceline_621.json
latent_speaker_folder/femaledarkelf/voiceline_631.json
latent_speaker_folder/femaledarkelf/voiceline_633.json
latent_speaker_folder/femaledarkelf/voiceline_660.json
latent_speaker_folder/femaledarkelf/voiceline_667.json
latent_speaker_folder/femaledarkelf/voiceline_874.json
latent_speaker_folder/femaledarkelf/voiceline_940.json
latent_speaker_folder/femaledarkelf/voiceline_997.json
