/__pycache__/
src/__pycache__/
data/**/*.wav
data/**/*.lip
data/**/*.json
data/**/*.txt
data/tmp/
GPT_SECRET_KEY.txt
logging.log
player_recording.wav
MantellaEnv*
build/
dist/
main.exe
/.obsidian/
src/behaviors/__pycache__/base_behavior.cpython-310.pyc
src/behaviors/__pycache__/follow.cpython-310.pyc
src/behaviors/__pycache__/forgiven.cpython-310.pyc
src/behaviors/__pycache__/offended.cpython-310.pyc
