data\models\gpt_sovits\chinese-hubert-base\pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
data\models\gpt_sovits\chinese-roberta-wwm-ext-large\pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
data\models\gpt_sovits\s1bert25hz-2kh-longer-epoch=68e-step=50232.ckpt filter=lfs diff=lfs merge=lfs -text
data\models\gpt_sovits\s2D488k.pth filter=lfs diff=lfs merge=lfs -text
data\models\gpt_sovits\s2G488k.pth filter=lfs diff=lfs merge=lfs -text