/__pycache__/
src/__pycache__/
data/**/*.wav
data/**/*.lip
data/**/*.json
data/**/*.txt
data/tmp/
**/*.pyc
GPT_SECRET_KEY.txt
logging.log
player_recording.wav
MantellaEnv*
build/
dist/
main.exe
/.obsidian/
**/*.gguf
deepmoji_plugin/
data_vector_embedding/
FaceFXWrapper/
config.json
config.json.original
InvalidVoicesToCheck.txt
main.spec
data/Characters-skyrim_characters.zip
data/skyrim_characters_backup.csv
data/skyrim_characters_lang.csv
data/skyrim_characters_reset_hard.csv
data/skyrim_characters_xttsUpload.csv
data/conversations/Stanza_female_Bosmer/Ferwen/Ferwen_summary_1.txt.bak
data/conversations/Stanza_female_Bosmer/Ferwen/Ferwen.json.bak
prompt_styles/chat copy.json
skyrim_characters.csv
data/language_support.csv
