# python 3.11
pandas==1.5.3
tiktoken==0.4.0
openai==1.6.1
aiohttp==3.8.4
git+https://github.com/Pathos14489/faster-whisper.git
speechrecognition==3.10.1
requests==2.32.0
pyaudio==0.2.13
soundfile==0.12.1
numpy==1.23.2
scipy==1.11.2
charset-normalizer==3.2.0
transformers>=4.43.3
flask==2.3.3
bitsandbytes==0.42.0
dxcam==0.0.5
PaddleOCR==2.7.0.3
paddlepaddle
chromadb>=0.5.3
posthog==3.5.0
text_unidecode==1.3
gradio>=4.37.1
pygame==2.6.0
emoji==2.8.0
git+https://github.com/Pathos14489/TTS.git
git+https://github.com/2noise/ChatTTS@6afc7612c422d877e80257184c65b009da4adb73
git+https://github.com/huggingface/parler-tts.git
descript-audio-codec==1.0.0
git+https://github.com/Pathos14489/StyleTTS2.git
git+https://github.com/SWivid/F5-TTS.git
outetts
librosa
chinese
LangSegment
pynlpir
py3langid
rotary_embedding_torch
pyjyutping
cn2an
wordsegment
g2p_en
huggingface_hub
ffmpeg-python